<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Me</h2>
  <p>My name is Ben. I is developer. Internet things.
    internet things.
  </p>
  <p>
    BenGitsCode
    <br>
    <a href="https://www.linkedin.com/in/bengitscode/">LinkedIn</a>
    <br>
    <a href="https://www.github.com/bengitscode/">GitHub</a>
    <br>
    <a href="https://www.twitter.com/in/bengitscode/">Twitter</a>


    <address>
      <br>
      Somerville, MA 02145
    </address>
    <a href="tel:603.555.5555">+1 (603) 555-5555</a><br>
    <a href="mailto:bengitscode@gmail.com">bengitscode@gmail.com</a>
  </p>
  <br>
  {{#link-to 'about' class="button"}}
    About Me
  {{/link-to}}
</div>
